/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5em;
}

header .button {
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Examen */
#examen {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Resultados */
#resultado {
    padding: 20px;
    margin: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
    text-align: center;
}
